.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #333333;
  color: white;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: white;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  background-color: #333;
  width: 100%;
}

.btn:hover {
  opacity: 0.8;
}

input {
  margin: 0.5rem 0;
}

.form {
  width: 60%;
  margin: 3rem auto;
}

.search {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 0.9rem;
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
